.view-chat {
  width: 100%;
  height: 100%;
}

.view-chat__sidebar {
  background: lighten($primary-1, 18%);

  form {
    position: relative;
  }

  input {
    width: 100%;
    padding: 0 90px 0px 15px;
    height: 40px;
    line-height: 40px;
    outline: none;
    color: $primary-3;
    border: 2px solid $primary-3;
    background: $secondary-3;
    @include transition;

    &:focus {
      background: lighten($primary-1, 18%);
    }
  }

  .btn-submit--room {
    position: absolute;
    background: $primary-2;
    color: $secondary-3;
    right: 2px;
    bottom: 2px;
    width: 90px;
    height: 36px;
    @include transition;
    outline: none;

    &:hover {
      background: $primary-3;
      color: $secondary-3;
    }
  }
}

.view-chat__messages {
  height: 100%;
  overflow: scroll;
}

.view-chat__footer {
  form {
    position: relative;
  }

  input {
    width: 100%;
    padding: 15px 100px 15px 15px;
    height: 40px;
    line-height: 100%;
    outline: none;
    color: $primary-3;
    border: 2px solid $primary-3;
    background: $secondary-3;
    @include transition;

    &:focus {
      background: lighten($primary-1, 18%);
    }
  }

  button {
    position: absolute;
    background: $primary-2;
    color: $secondary-3;
    right: 2px;
    bottom: 2px;
    width: 100px;
    height: 36px;
    @include transition;
    outline: none;

    &:hover {
      background: $primary-3;
      color: $secondary-3;
    }
  }
}
