.view-home {
  height: 100%;
  width: 100%;
  background: url('images/bg.jpg');
  background-size: cover;
  text-align: center;
  min-height: 300px;
}

.view-home__content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  height: 300px;
  margin-top: -150px;

}

.home-link {
  display: block;
  margin: 0 auto 30px;
  width: 300px;
  height: 80px;
  line-height: 80px;
  border: 3px solid #000;
  background: #ccc;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  @include transition();

  &:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
}

.github-link {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  @include transition;

  &:hover {
    color: #555;
    border-color: #555;
  }
}