.view-home {
  height: 100%;
  width: 100%;
  background: url('images/bg.jpg');
  background-size: cover;
  text-align: center;
  min-height: 300px;
}

.view-home__content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  height: 300px;
  margin-top: -150px;

}

.home-link {
  display: block;
  margin: 0 auto 30px;
  width: 300px;
  height: 80px;
  line-height: 80px;
  border: 3px solid $primary-3;
  background: $primary-1;
  color: $primary-3;
  font-size: 30px;
  text-decoration: none;
  @include transition();

  &:hover {
    background: $primary-3;
    border-color: $primary-3;
    color: $secondary-3;
  }
}

.github-link {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  @include transition;

  &:hover {
    color: #555;
    border-color: #555;
  }
}