.interaction-list {
}

.interaction-list__item {
  padding: 5px;
  background: #ccc;
  cursor: pointer;

  &:hover, &:focus {
    background: #a9a9a9;
  }

  &.active {
    background: green;
  }
}

.interaction-list__title {

}

.interaction-list--user {

}

.interaction-list--user__item {

}

.interaction-list--user__title {

}

.interaction-list--room {

}

.interaction-list--room__item {

}

.interaction-list--room__title {

}