.room-list {
}

.room-list__item {
  padding: 15px;
  background: $secondary-1;
  margin: 1px 0;
  cursor: pointer;
  position: relative;
  @include transition;

  &:hover, &:focus {
    background: $secondary-2;
  }

  &.current-room {
    background: $primary-1;
    color: $secondary-3;

    &:before {
      display: block;
      content: '';
      border: 10px solid transparent;
      position: absolute;
      left: -20px;
      border-right-color: $primary-1;
      top: 50%;
      margin-top: -10px;
    }
  }
}

.room-list__title {

}