.room-list {
}

.room-list__item {
  padding: 5px;
  background: #ccc;
  cursor: pointer;
  @include transition();

  &:hover, &:focus {
    background: #a9a9a9;
  }

  &.current-room {
    background: #666666;
  }
}

.room-list__title {

}