.user-list {
}

.user-list__item {
  padding: 5px;
  background: #ccc;
  cursor: pointer;

  &:hover, &:focus {
    background: #a9a9a9;
  }

  &.active {
    background: green;
  }
}

.user-list__title {

}