<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
<div id="app"></div>
<script type="text/template" name="home">
    <div>home view</div>
    <a href="#chat">Chat</a>
</script>
<script type="text/template" name="chat">
    <a href="#home">Home</a>
    <div>chat view</div>
    <button class="btn-submit">submit</button>

    <div id="id">
        users:
        <ul data-role="listview" data-inset="true", data-filter="true">
            <% _.each(users, function(user) { %>
            <li>
                <div class="name"><%= user.title %></div>
            </li>
            <% }); %>
        </ul>

        rooms:
        <ul data-role="listview" data-inset="true", data-filter="true">
            <% _.each(rooms, function(room) { %>
            <li>
                <div class="name"><%= room.title %></div>
            </li>
            <% }); %>
        </ul>

        messages:
        <ul data-role="listview" data-inset="true", data-filter="true">
            <% _.each(messages, function(message) { %>
            <li>
                <div class="name"><%= message.message %></div>
            </li>
            <% }); %>
        </ul>
    </div>
</script>
<script src="app.js"></script>
</body>
</html>