<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div id="app"></div>
    <script type="text/template" name="home">
        <div>home view</div>
        <a href="#chat">Chat</a>
    </script>
    <script type="text/template" name="messages">
        <ul class="messages-list">
            <% _.each(messages, function(message) { %>
            <li class="messages-list__item">
                <div class="messages-list__title"><%= message.message %></div>
            </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" name="chat">
        <aside class="view-chat__sidebar">
            <a href="#home">Home</a>
            <nav class="view-chat__sidebar__nav">
                <ul class="interaction-list interaction-list--room">
                    <% _.each(rooms, function(room) { %>
                    <li class="interaction-list__item interaction-list--room__item">
                        <div class="interaction-list__title interaction-list--room__title"><%= room.title %></div>
                    </li>
                    <% }); %>
                </ul>
                <form>
                    <input placeholder="Create Room" type="text" class="input-room">
                    <button class="btn-submit btn-submit--room">submit</button>
                </form>
            </nav>
            <ul class="interaction-list interaction-list--user">
                <% _.each(users, function(user) { %>
                <li class="interaction-list__item interaction-list--user__item">
                    <div class="interaction-list__title interaction-list--user__item"><%= user.title %></div>
                </li>
                <% }); %>
            </ul>
        </aside>
        <div class="view-chat__messages">
            <div class="view-chat__messages__input">
                <form>
                    <input type="text" class="input-message">
                    <button class="btn-submit btn-submit--message">submit</button>
                </form>
            </div>
        </div>
    </script>
    <script src="app.js"></script>
</body>
</html>