<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ES6-Backbone-Chat</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div id="app"></div>
    <script type="text/template" name="home">
        <div class="view-home__content">
            <a class="home-link" href="#chat">Join Chat</a>
            <a href="https://github.com/davidneat/es6-backbone-chat/" class="github-link" target="_blank">Source on Github</a>
        </div>
    </script>
    <script type="text/template" name="message">
        <% _.each(messages, function(message) { %>
        <li class="message-list__item">
            <div class="message-list__title"><%= message.user.userName %>: <%= message.message %></div>
        </li>
        <% }); %>
    </script>
    <script type="text/template" name="room">
        <% _.each(rooms, function(room) { %>
        <li class="room-list__item <% if(room && currentRoom && (room._id == currentRoom.room._id)) { %> current-room <% } %>" data-room-id="<%= room._id %>">
            <div class="room-list__title"><%= room.roomName %></div>
            <% if(room.owner && room.owner._id && user && room.owner._id == user._id) { %>
            <button class="btn-remove btn-remove--room"></button>
            <% } %>
        </li>
        <% }); %>
    </script>
    <script type="text/template" name="user">
        <% _.each(users, function(user) { %>
        <li class="user-list__item">
            <div class="user-list__title"><%= user.userName %></div>
        </li>
        <% }); %>
    </script>
    <script type="text/template" name="chat">
        <div class="main view-chat__messages">
            <!-- message-list renders here -->
        </div>
        <aside class="view-chat__sidebar">
            <nav class="view-chat__sidebar__nav">
                <form>
                    <input placeholder="Create Room" type="text" class="input-room">
                    <button class="btn-submit btn-submit--room">submit</button>
                </form>
                <!-- room-list renders here -->
            </nav>
            <!-- user-list renders here -->
        </aside>
        <div class="footer view-chat__footer">
            <form>
                <input type="text" class="input-message">
                <button class="btn-submit btn-submit--message">submit</button>
            </form>
        </div>
    </script>
    <script src="app.js"></script>
</body>
</html>